@import (once) 'colors.less';
@import (once) 'variable.less';

body {
    font-family: @font-family;
    font-size: @font-size;
    font-weight: @font-weight;
    line-height: @line-height;
    text-align: start;

    color: var(--color-foreground);
    background-color: @color-light;

    margin: 0;
}

hr {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    border: 0;
}

@import (once) 'typography.less';

.text-light {
    color: var(--color-background-0);
}

.text-bold-0 {
    font-weight: 500;
}

.text-bold-1 {
    font-weight: 700;
}

.text-mute-0 {
    color: var(--color-border-0);
}

.text-mute-1 {
    color: var(--color-border-2);
}

.font-size-0 {
    font-size: 0.9rem;
}

.list-style-none {
    list-style: none;
}
